<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS Link -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Cookie Orders</title>
</head>
<body>
    <body>
        <!-- Container -->
        <div class="container col-md-10">
        <!-- Navbar -->
        <div class="navbar bg-dark text-light justify-content-between p-3">
            <h3 class="text-light">Welcome, {{user.first_name}}</h3>
            <div>
                <a href="/rides/new" class="btn back_to_home btn-primary">Request a Ride</a>
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
        <!-- End of Navbar -->
            <h1 class="text-center ms-4">Cookie Orders</h1>
            <!-- Cookie Orders Table -->
            <table class="table table-dark table-bordered table-hover">
                <!-- Table Head -->
                <thead class="text-center">
                    <tr>
                        <th>Name</th>
                        <th>Cookie Type</th>
                        <th>Number of Boxes</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <!-- End of Table Head -->
                <!-- Table Body -->
                <tbody>
                    {% for order in orders %}
                    <!-- Table Row -->
                        <tr class="text-center">
                            <td>{{order.name}}</td>
                            <td>{{order.cookie_type}}</td>
                            <td>{{order.num_of_boxes}}</td>
                            <td class="text-center">
                                <a class="edit_link" href="/cookies/edit/{{order.id}}">Edit</a> |
                                <a class="delete_link" href="cookies/destroy/{{order.id}}">Delete</a>
                            </td>
                        </tr>
                        <!-- End of Table Row -->
                    {% endfor %}
                </tbody>
                <!-- End of Table Body -->
            </table>
            <!-- End of Cookie Orders Table -->
            <!-- Add new order Button -->
            <a href="/cookies/new" class="btn btn-primary ms-1">Add new order</a>
            <!-- End of Add new order Button -->
        </div>
        <!-- End of Container -->
</body>
</html>